
  
          
    <div id="container"  class="center" style="background-color:darkslategrey;color:white;padding:50px;">
     
        <h1 style="color:maroon">Sales Report</h1>
          <ul class="menu">
            <li>Main</li>
            <li>Dashboard</li>
            <li>Reports <span class="notification">8</span></li>
            <li>Groups</li>
          </ul>
      
          <ul class="menu">
            <li>Account</li>
            <li>Activity</li>
            <li>Messages <span class="notification">4</span></li>
            <li>Downloads</li>
          </ul>
      
          <ul class="menu">
            <li>Categories</li>
            <li>Credit Sales <span class="colorIcon red"></span></li>
            <li>Channel Sales <span class="colorIcon orange"></span></li>
            <li>Direct Sales <span class="colorIcon green"></span></li>
          </ul>
        
       
      